/* navbar style */
body * {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}
.navbar-default {
  background-color: #24be55;
  border-color: #43d471;
}

.navbar-default .navbar-brand {
  color: #f0f0f0;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #ddd;
  background-color: transparent;
}
.navbar-default .row {
  padding: 15px 15px 8px;
}
.navbar-brand {
  float: left;
  height: auto;
  padding: 0px;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
}

.navbar-default .row p {
  padding: 0px;
  font-size: 16px;
  color: #f0f0f0;
  text-align: right;
  margin: 0;
}

/* Start with the main  */

.main {
  margin-top: 30px;
}

.main header.main-title {
  margin-bottom: 60px;
}
.main header.main-title h1 {
  color: #24be55;
}

.main header.main-title h1 .fa {
  margin-left: 10px;
  font-size: 50px;
}
